<?xml version="1.0"?>
<model>
  <name>SMORES4Neel</name>
  <version>4.0</version>
  <sdf version='1.4'>SMORE.sdf</sdf>

  <author>
   <name>Edward Cui</name>
   <email>cyk1990995@gmail.com</email>
  </author>

  <description>
    In honor of our great lab member, Neel.
    1. Friction is added.
		2. Maximium Speeds for each joint are specified.
		3. Maximium torque has been added
  </description>
</model>
