<?xml version="1.0"?>
<model>
  <name>SMORESpro3Gabby</name>
  <version>3.0</version>
  <sdf version='1.4'>SMORE1.sdf</sdf>
  <!--sdf version='1.4'>SMOREBend.sdf</sdf-->

  <author>
   <name>Edward Cui</name>
   <email>cyk1990995@gmail.com</email>
  </author>

  <description>
    In honor of our great lab member, Gabby.
    1. Friction will be added.
  </description>
</model>
