<?xml version="1.0"?>
<model>
  <name>PaintShell</name>
  <version>4.0</version>
  <sdf version='1.4'>PaintShell.sdf</sdf>

  <author>
   <name>Jonathan Daudelin</name>
   <email>jd746@cornell.edu</email>
  </author>

  <description>
    Invisible force field designed to deflect death rays and Jim's attempts to move SMORES
  </description>
</model>
