<?xml version="1.0"?>
<model>
  <name>SMORES_RangeFinder</name>
  <version>6.0</version>
  <sdf version='1.4'>SMORES_RangeFinder.sdf</sdf>

  <author>
   <name>Jonathan</name>
  </author>

  <description>
    A SMORES model that has a death ray which is used to find distance to an object and destroy it
  </description>
</model>
